[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
minimal-batch-job = {subdirectory = "src", editable = true, ref = "main", git = "https://github.com/zujiancai/minimal-batch-job.git"}

[dev-packages]

[requires]
python_version = "3.10"
